<div class="jumbotron">
  <h1>
    <i class="fa fa-check-square-o" aria-hidden="true"> </i> SCRUMptious
  </h1>
  <p>Making SCRUM more delicious</p>
  <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-primary btn-lg' %>
</div>
